@use './scss/' as *;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;

  @include tablet {
    font-size: 80%;
  }
  @include mobile {
    font-size: 60%;
  }
}

body {
  min-height: 100vh;
  background: $body-bg;
  background-repeat: no-repeat;
  font-family: $font-family;
  font-weight: 300;
  line-height: 1.5;
  color: $main-color;
}

.container {
  max-width: $container;
  margin: auto;
  text-align: center;
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input:checked + span {
  text-decoration: line-through;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}
.mt-6 {
  margin-top: 6rem;
}
