@use "../../scss/" as *;

.post-item {
  position: relative;
  width: 600px;
  @include tablet {
    width: 500px;
  }
  @include mobile {
    width: 350px;
  }
  border-radius: $border-radius;
  margin: 0.5rem 0;
  padding: 5px 5px;
  @include flex(center, space-between);
  background: $item-bg;
  color: $txt-color-light;

  &__title {
    margin-left: 1rem;
    max-width: 80%;
    text-align: start;
  }
  &__control {
    width: 4.5rem;
    @include tablet {
      width: 5rem;
    }
    @include flex(center, space-between);
  }
}

.post-item:hover {
  box-shadow: 0 0 5px 3px $main-color;
  transition: box-shadow 0.3s ease;
}

.completed::after {
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  background: $main-color;
  width: 80%;
  animation-name: line;
  animation-duration: 1s;
}

@keyframes line {
  0% {
    width: 0%;
  }
  70% {
    width: 82%;
  }
  100% {
    width: 80%;
  }
}
