$body-bg: linear-gradient(
  to right bottom,
  #01050b,
  #003d52,
  #007a77,
  #00b766,
  #a8eb12
);
$main-color: #a8eb12;
$dark-color: #01050b;
$item-bg: #003d52;

$txt-color-dark: #01050b;
$txt-color-light: #ecf5f3;

$border-radius: 25px;

$container: 1660px;
$mobile-width: 600px;
$tablet-width: 1024px;

$header-height: 5rem;
$font-family: "Roboto", sans-serif;
